div {
    width: 600px;
    margin: 50px auto;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-align: center;
    background-color: #eee;
    padding: 20px;
    border: 5px solid red;
    border-color: red #8c038c red red;
    position: relative;
}

div::first-letter {
    color: red;
}

div::before {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    background-image: linear-gradient(to right, 
    red 20%, 
    blue 20%, 
    blue 40%, 
    green 40%, 
    green 60%, 
    red 60%, 
    red 80%, 
    #8c038c 80%);
}

div::after {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    right: 0;
    background-image: linear-gradient(to right, 
    red 20%, 
    blue 20%, 
    blue 40%, 
    green 40%, 
    green 60%, 
    red 60%, 
    red 80%, 
    #8c038c 80%);
}



/* form */

form {
    width: 600px;
    margin: 30px auto;
}

form input {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-style: none;
    background-color: #eee;
    position: relative;
    border-bottom: 5px solid #eee;
    border-image: linear-gradient(to right, 
    red 50%,  
    green 50%);    
    border-image-slice: 1;
    caret-color: red;
}
